@import "tailwindcss";
@font-face {
	font-family: "Abordage";
	src: url("/Abordage-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap; /* recommended for better loading */
}
:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Abordage", sans-serif;
}

h1 {
	font-family: "Abordage", sans-serif;
	@apply text-2xl lg:text-4xl xl:text-6xl capitalize;
}
h2 {
	font-family: "Abordage", sans-serif;
	@apply text-xl lg:text-2xl capitalize;
}
.funkyFont {
	font-family: "Abordage", sans-serif;
}
